.timer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.timer--inactive {
    background-color: antiquewhite;
}

.timer--active {
    background-color: darkorange;
}

.timer--playerone {
    transform: rotate(180deg);
}