.timer {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 80px;
}

.timer--inactive {
    background-color: #d3d3d3;
}

.timer--active {
    background-color: darkorange;
    color: white;
}
