.clock {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas: 
        "a a a a"
        ". b b .";
}

.timer {
    grid-column: span 2;
}

@media only screen and (max-width: 600px) {
    .clock {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px 1fr;
        grid-template-areas: 
            "b"
            "a"
            "c";
    }
    
    .timer {
        grid-column: span 1;
    }

    .clock > .timer:first-child {
        transform: rotate(180deg);
    }
}
