.options {
    text-align: center;
    grid-area: a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    background: none;
    padding: 0;
    margin: 10px;
    border: 0;
}

.btn img {
    fill: white;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .options {
        grid-area: a;
    }
}
